body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
p {
  text-align: justify;
  padding-bottom: 10px;
  padding-top: 10px;
}
 {
  font-weight: 700;
}
#stay-focas {
  font-family: Playfair Display;
  font-size: 50px;
  padding-left: 5%;
  border-left: 3px solid;
  border-color: #571145;
  border-image-slice: 1;
}
.blue-color {
  color: #521cbc;
}

.content-inline {
  display: flex;
  margin-bottom: 150px;
}
.half-width {
  width: 50%;
  padding-left: 6%;
  padding-right: 6%;
}
.half-width img {
  width: 90%;
}

.link-button {
  text-decoration: none;
  background-image: linear-gradient(#521cbc, #8346a0);
  padding: 15px 50px;
  font-weight: 900;
  color: #ffffff;
  border-radius: 5px;
}
#mission-text-line-center {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}

.mission {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  background-color: #edf5f6;
}
.vission {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  background-color: #ffeeee;
}

.goals {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  background-color: #fff4d6;
}
.develop-limits {
  background-image: url(images/shapes/shape-7.png);
  background-repeat: no-repeat;
  background-size: 15%;
  background-position: left top;
}
.know-Dreams {
  background-image: url(images/shapes/shape-7.png);
  background-repeat: no-repeat;
  background-size: 15%;
  background-position: right bottom;
}
#Contact-app-text-line-center {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}
.Contact-app {
  background-color: #f7f7f7;
  text-align: center;
  width: 85%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 40px gray;
}
.contact-us {
  text-align: left;
  width: 85%;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0;
}

footer {
  border: solid;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}
footer p {
  text-align: center;
}
